@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "HK Grotesk";
  src: url("../assets/fonts/hk-grotesk.regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("../assets/fonts/hk-grotesk.regular.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "HK Grotesk", sans-serif;
}

.input-style {
  @apply border-2 border-gray-500 rounded-md p-1;
}

.sideBar-btn {
  @apply flex justify-center items-center w-[60px] h-[60px] hover:bg-[#78B6FF33] rounded-xl;
}

.sideBar-icons {
  @apply w-[30px] h-[30px] active:text-[#0C6DFC];
}

.status-headers {
  @apply text-sm text-statusText;
}

.status-spans {
  @apply text-2xl text-statusText;
}
